
h1,h2,p{
    background-color: seagreen;
    color:yellow;
}
#MyGuardians{
    background-color: blue;
    color: yellow;
}
div.MyQualifications{
        color: yellow;
        background-color: grey;
}
div.MySkills>p{
    color: red;
    background-color: lightgray;
}
div.Hobbies h1 {
  color: darkblue;       /* h1 ka text color */
  background-color: lightyellow;  /* optional: background color */
}

div.Hobbies p {
  color: purple;         
  background-color: lightblue;
}
div.References h1 + p {
  color:whitesmoke;         
  background-color: lightpink;
}
div.GeneralExample h2~p{
    color: black;
    background-color: lightgreen;
}
p{
    background-color: lightyellow;!important;
    color: brown;!important;
}


    



